- 
    const reviews = [
        {
            image: 'Dmitriy.png', 
            text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 
            name: 'Ковальчук Дмитрий', 
            position:'Основатель Loftschool'
        },
        {
            image: 'Vladimir.png', 
            text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 
            name: 'Владимир Сабанцев', 
            position:'Преподаватель'
        }
    ]

section.reviews 
    .reviews__inner 
        .reviews__header 
            .reviews__title Что обо мне говорят
            .reviews__buttons
                button.reviews__button.reviews__button--left
                    +icon('left', 'work__click active')
                button.reviews__button.reviews__button--right
                    +icon('right', 'work__click active')
        .reviews__content 
            ul.reviews__list 
                each item in reviews 
                    li.reviews__item 
                        +icon('quote', 'reviews__quote')
                        .reviews__item--main
                            .reviews__text=item.text 
                            .reviews__info 
                                +image(`content/${item.image}`, 'reviews__image')
                                .reviews__profile 
                                    .reviews__name=item.name
                                    .reviews__position=item.position
            