.social {
  display: flex;
  align-items: flex-end;
  &__item {
    margin-left: 35px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__icon {
    width: 32px;
    height: 32px;
    fill: rgba(255, 255, 255, 0.3);
  }
}
